/* FONDO DE PÁGINA */
body {
    margin: 0;
    padding: 0;
    background: url('https://images-ext-1.discordapp.net/external/R54INX4I0aVk9ZxsmNKd1L6xIfuEJuKPbuaS10SNzV8/https/i.pinimg.com/736x/ef/85/87/ef8587bb8b55e230419146b6f5d75059.jpg?format=webp&width=588&height=930') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
  }
  
  /* NAV SUPERIOR */
  nav {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    position: fixed;
    width: 100%;
    z-index: 10;
  }
  
  :root {
    --nav-height: 114px; /* O la altura real de tu nav */
  }
  
  .nave {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: var(--nav-height);
  }
  
  /* CONTENEDOR GENERAL PARA TU CONTENIDO */
  main {
    padding: calc(130px + var(--nav-height)) 20px 20px;
    max-width: 800px;
    margin: 0 auto;
    color: white;
    position: relative;
    z-index: 1;
  }
  
  /* BARRA LATERAL DE SEMANAS */
  .sidebar {
    position: fixed;
    top: 112px;
    right: 0;
    width: 200px;
    height: calc(100vh - 112px);
    padding-top: 10px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    z-index: 5;
    overflow-y: auto;
  }
  
  /* Lista de semanas */
  .sidebar .weeks {
    list-style: none;
    margin: 0;
    padding: 0 10px;
  }
  
  .sidebar .weeks li {
    margin-bottom: 8px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
  }
  
  .sidebar .weeks li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .sidebar .weeks li a:hover {
    background: rgba(0, 0, 0, 0.8);
  }